<script>
	console.log("Google API ran")
	function initialize() {
	var input = document.getElementById('pac-input');
	var autocomplete = new google.maps.places.Autocomplete(input);
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div class="header">
	<h3><%= link_to "FOURSTARS", root_path %></h3>
</div>

<div class="banner">
	<h1>Where do you want to eat?</h1>
	<h3> Enter your preferences to find a 4+ star restaurant nearby.</h3>
</div>

 <div class='input'>
  	<%= form_tag("/biz", method: "get") do %>
	    <%= text_field_tag(:address, params[:address], id: "pac-input", required: true) %>
	    <%= select_tag :radius_filter, options_for_select([['1 mile away', 1000], ['2 miles away', 2000], ['3 miles away', 3000]], 1) %>
	  	<%= submit_tag("Search") %>
 	<% end %>	
 </div>


<div class="footer">
	<p> Created by Regina Wong | Brought to you by Yelp </p>
</div>
<!-- <p> <%= 'active_record'.camelize  %></p> -->


