<div class="header">
	<h3><%= link_to "FOURSTARS", root_path %></h3>
</div>

<div class="summary">
	<h4> Congratulations! You're eating at: </h4>
	<h1> <%= @business.name %> </h1>
	<p>
		<% if @business.location.address.length > 1 %>
			<%= @business.location.address.join(', ') + ", " + @business.location.city + " " + @business.location.state_code + ", " + @business.location.postal_code %>
		<% else %>
			<%= @business.location.address[0] + ", " + @business.location.city + " " + @business.location.state_code + ", " + @business.location.postal_code %> 
		<% end %>
	</p>
<!-- 	<p> Rating:  <%= @business.rating %> </p> -->
	<br>
	<p> <a href="<%= @business.url %>"> See Reviews </a>  |  <%= link_to "Pick Another Restaurant", url_for(params) %></p> 
	<% if @business.eat24_url %>
	<p> <a href="<%=@business.eat24_url %>"> Order Online </a> </p>
	<% end %>
</div>


<div class="footer">
	<p> Created by Regina Wong | Brought to you by Yelp </p>
</div>