
<h1> Result </h1>

<p> <%= @business.name %> </p>
<p> Cross-Streets: <%= @business.location.cross_streets %> </p>
<p> Rating:  <%= @business.rating %> </p>
<p> Link:  <%= @business.url %> </p> 




<%= link_to "Pick Another Restaurant", url_for(params) %>
<%= link_to "Back", root_path %> 